extends layout

block content
	div(class='topnav')
		a(class="active" href="./") Home
		a(href="/signup") Signup
		a(href="./logout") Logout


	
	p(class="titlehead") All Posts

	div(class="list-type2")
	ul
		each post in posts


			li=(post.post +  "   Written By:"  + post.username) 

	button(onclick="window.location='/post'" class='buttonsignup') New Post


	
