extends layout

block content
  h1(class='titlehead')=title
  h2 One More Step to get connected!
  button(onclick="window.location='/login'" class='buttonlogin') Login

  button(onclick="window.location='/signup'" class='buttonsignup') Sign Up
  h1(class='titlehead')
